@model IEnumerable<n01629177_passion_project.Models.ItemSerializable>

@{
  ViewBag.Title = "Search Results | Jusqu'a";
}

@foreach (var item in Model) {
  <div class="row">
    <div class="card mb-2">
      <a href="/Item/Details?itemId=@item.ItemId">

        <p class="text-capitalize">@item.Brand - @item.Name</p>
        <p class="text-capitalize">@item.Variant</p>

      </a>
    </div>
  </div>
}

