@model IEnumerable<n01629177_passion_project.Models.ItemSerializable>

@{
  ViewBag.Title = "Search Results | Jusqu'a";
}

<div class="row">
  <div class="col-sm-8">
    <div class="list-group">

      @foreach (var i in Model) {

       <a class="list-group-item list-group-item-action py-4" href="/Item/Details?itemId=@i.ItemId">
         <div class="text-uppercase fs-6 text-muted">@i.Brand</div>
         <div class="text-capitalize fs-5">@i.Name - @i.Variant </div>
       </a>

      }

    </div>
  </div>
</div>
