@model IEnumerable<n01629177_passion_project.Models.Item>

@{
  ViewBag.Title = "Search";
}

@foreach (var item in Model) {
  <div class="row">
    <div class="card mb-2">
      <a href="/Item/Details?itemId=@item.ItemId">

        <p class="text-capitalize">@item.ItemBrand - @item.ItemName</p>
        <p class="text-capitalize">@item.ItemVariant</p>

      </a>
    </div>
  </div>
}

